@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:wght@700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #2D1B55; /* Dark deep purple */
    color: #F5E8C7; /* Beige yellow */
}

header {
    margin: 4px;
    padding: 10px;
    text-align: right;
    border-bottom: 2px solid #654EA3;
}

header a {
    padding: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
header a:hover {
    color: #F5E8C7;
}

main {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    text-align: center;
    background-color: rgba(45, 27, 85, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 20px #654EA3;
}

#profile-pic {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    border: 4px solid #F5E8C7;
    box-shadow: 0 0 10px #654EA3;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3);
}

#main-section {
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: left;
}

#main-section h2 {
    color: #FFFFFF;
    border-bottom: 2px solid #F5E8C7;
    padding-bottom: 5px;
}

#about-me, #education, #skills, #experience, #contact {
    padding: 16px 12px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

#about-me p, #experience p {
    text-align: justify;
    font-size: 17px;
    line-height: 1.6;
}

#education h4 {
    display: inline-block;
    width: 60%;
    color: #F5E8C7;
}
#education p {
    display: inline-block;
    width: 35%;
    text-align: right;
    color: #E6CBA8;
}

#skills {
    text-align: left;
    padding: 16px;
}

#skills h3 {
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 10px;
    border-bottom: 2px solid #F5E8C7;
    padding-bottom: 5px;
}

#skills ul {
    list-style-type: square;
    padding-left: 20px;
    font-size: 18px;
    color: #E6CBA8;
}

#contact {
    text-align: center;
}
#contact a {
    text-decoration: none;
    padding: 4px;
}
#contact a:hover>img {
    transform: scale(1.1);
}
